# This .gitignore file should be placed at the root of your Unity project directory
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore

# Unity-generated folders (локальный кэш, временные файлы, логи)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Папки, которые могут быстро разрастаться или содержать чувствительные данные
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Метаданные ассетов (важно: метаданные игнорируем только если сам ассет тоже игнорируется)
!/[Aa]ssets/**/*.meta

# Дополнительные правила (можно раскомментировать под свои нужды)

# Раскомментируйте, если хотите игнорировать плагин Asset Store Tools
#/[Aa]ssets/AssetStoreTools*

# Игнорируем автосгенерированные плагины (например, JetBrains Rider)
/[Aa]ssets/Plugins/Editor/JetBrains*

# Кэш инструментов разработки
/.vs/
/.gradle/


# Метафайлы Unity (pidb, pdb, mdb)
*.pidb.meta
*.pdb.meta
*.mdb.meta
